################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScanReceipts/.vs
/ScanReceipts/ScanReceipts/obj
/ScanReceipts/ScanReceipts/bin/x86/Debug
